.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-heading+p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #575757;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }

  .special-heading+p {
    margin-top: -20px;
  }
}

.flex-and-wrap {
  display: flex;
  flex-wrap: wrap;
}

.center-text {
  text-align: center;
}

.section-padding-background {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}